<!DOCTYPE html>
<html lang="en">
<head>
  <title>PrimeVue + CDN</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
</head>
<body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
<script src="https://unpkg.com/@primevue/themes/umd/aura.min.js"></script>

<div id="app">
  <h1>{{name}} </h1>
  <p-datepicker v-model="date"></p-datepicker>
  <br /><br />
  {{ date }}
  <p-datatable :value="users" tableStyle="min-width: 50rem">
    <p-column field="id" header="Code"></p-column>
    <p-column field="name" header="Name"></p-column>
  </p-datatable>
  <ul>
    <li v-for="user in users" :key="user.id">\{{ user.id }} - \{{ user.name }}</li>
  </ul>
</div>

<script>
  const { createApp, ref } = Vue;
  const app = createApp({
    setup() {
      const date = ref();
      const users = ref([]);
        fetch('/vuejs/users')
          .then(res => res.json())
          .then(data => {
            users.value = data;
          });
      return {
        date,
        users,
      };
    },

  });

  app.use(PrimeVue.Config, {
    theme: {
      preset: PrimeVue.Themes.Aura
    }
  });

  app.component('p-datepicker', PrimeVue.DatePicker);
  app.component('p-datatable', PrimeVue.DataTable);
  app.component('p-column', PrimeVue.Column);

  app.mount('#app');
</script>
</body>
</html>
